.forget-password-form{
    height: 90%;
    width: 100%;
    transition: all 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    display: grid;
    grid-template-rows: 30fr 70fr;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-areas: "has has has"
                        ". forgetArea .";
    box-sizing: border-box;
    border: 1px solid rgb(173, 173, 173);
    border-top: 2px solid var(--black);
    transition: transform 300ms ease-in-out;
}
.forget-password-form-on{
    transform: scaleY(1);
}
.has{
    grid-area: has;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.has > *{
    margin: 0 2rem;
}
.close-forget-form{
    font-size: 1.4rem;
    cursor: pointer;
    transition: 150ms ease;
}
.close-forget-form:hover{
    color: var(--lightblack);
}
.close-forget-form > *{
    padding:0 5px;
}
.forget-area{
    grid-area: forgetArea;
}