.shop-header{
    position: relative;
    height: 40vh;
    /* filter: saturate(0.5); */
}

.shop-header-text{
    position: absolute;
    top: 50%;
    color: white;
    z-index: 10;
    margin-left: 50%;

}

.shop-header:after{
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(109, 31, 0, 0.534);
}
.shop-header img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width:425px){
    .shop-header{
        height: 30vh;
    }
    .shop-header-text{
        margin-left: 40%;
    }
}
@media screen and (max-width:375px){
  
    .shop-header-text{
        text-align: center;
       margin-left: 30%;
    }
}