.shop-header{
    position: relative;
    height: 40vh;
    /* filter: saturate(0.5); */
}
.shop-header-text{
    position: absolute;
    top: 50%;
    color: white;
    z-index: 10;
    margin-left: 50%;

}

.shop-header:after{
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(109, 31, 0, 0.534);
}
.shop-header img {
    width: 100%;
    height: 100%;
}
.shop-grid{
    margin-top: 5rem;
  
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-areas: "filters products";
    grid-column-gap: 2rem;
}
.shop-filters{
    grid-area: filters;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(5rem,min-content));
    justify-items: center;
    align-items: center;
}
.filter-row-setting{
    border-top: 1px solid rgba(0, 0, 0, 0.267);
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    width: 100%;
    display: grid;
    grid-template-rows: 6rem min-content;
 
}
.filter-options{

  height: 7rem;
 
}

.name-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.toggle-icon{
    transition: transform 300ms ease;
    transform-origin: center;
   user-select: none;
}
.crossed{
    transform: rotate(45deg);
    transform-origin: center;

}
.shop-products{
    grid-area: products;
    display: grid;
    grid-template-rows: 5rem minmax(5rem,min-content);
   
  
}
.main-product-sec{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    grid-gap: 2rem;

}