.mobile-nav{
    height: 12rem;
    background: white;
    width: 100%;
    /* top: 12rem; */
   /* position: st; */
   width: 100vw;
   z-index: 900;
display: none;
grid-template-columns: 25fr 50fr 25fr;
grid-template-areas: "m-menu m-logo m-cart";
/* -webkit-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.47);
box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.47); */
}
.m-menu{
    grid-area: m-menu;
    
}
.m-menu svg{
   font-size: 3rem;
  color: var(--lightblack);
  cursor: pointer;
}
.m-logo{
    cursor: pointer;
    grid-area: m-logo;
}
.m-logo img{
    height: 5rem;
    width: 9rem;
    cursor: pointer;
}
.m-cart{
    grid-area: m-cart;
    
}
.m-cart img{
    width: 4rem;
    height: 4rem;
}
.cart-count{
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(43, 42, 42);
    border-radius: 50%;
    margin-left: 0.5rem;
    color: white;
    font-size: 1.4rem;
}
.cart-123 img{
    cursor: pointer;
}

@media only screen and (max-width:769px){
.mobile-nav{
    display: grid;
}
} 
