# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
designs/attractive-boxes.PNG
designs/extra-section-style.PNG
designs/gallery-style.PNG
designs/newsletter-style.PNG
designs/watches-slider-style.PNG
designs/shop-design.PNG
designs/filters.PNG
designs/contact-us.PNG
designs/quick-view.PNG
src/assets/img/shop-header-primary.jpg
src/assets/img/shop-primary-header.jpg
img/YAZOLE-Wristwatch-2018-Wrist-Watch-Men-Top-Brand-Luxury-Famous-Male-Clock-Quartz-Watch-for-Men.jpg
img/32677-6y5qbv.jpg
img/8053672130867_0000.jpg
img/Ha811bfa324b84247a5a53c37c3e8a0e32.jpg_q90.jpg
img/rBVaGFoOrG-AFUk8AACNt_G3Ecs690.jpg
img/rBVaI1l248CAMy1hAAJ_MjSstDQ177.jpg
img/rBVaWFxubQGAZE8EAALHriMf7xo718.jpg
img/Relogio-Masculino-Mens-Watches-Top-Brand-Luxury-Ultra-thin-Wrist-Watch-Men-Watch-Men-s-Watch.jpg
img/UVLAIK-Night-Vision-Sunglasses-Men-Women-Goggles-Glasses-UV400-Sun-Glasses-Driver-Night-Driving-Eyewear-4.jpg
img/wallet-1.jpg
img/wallet-2.jpg
img/wallet-3.jpg
img/Watch-Men-Watch-2019-Ultra-Thin-Business-Men-Watches-Quartz-Stainless-Steel-Band-Simple-Wrist-Watch-2.jpg
img/WILLIAMPOLO-Short-Slim-Wallet-Men-Leather-Standard-Casual-Simple-Solid-Driver-License-Wallets-Handmade-Cash-Card-1.jpg
