# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
designs/attractive-boxes.PNG
designs/extra-section-style.PNG
designs/gallery-style.PNG
designs/newsletter-style.PNG
designs/watches-slider-style.PNG
