.row-setting{


    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-template-areas:"pic price";
height: 15rem;

    position: relative;
}
.item-image-setting{
    grid-area: pic;
 /* border: 2px solid black; */
}
.item-image-setting img{
    width: 15rem;
    height: 15rem;
    
}
.price-item-setting{
  display: flex;
  flex-flow: column;
  justify-content: center;
  
}
.price-item-setting  *{
    margin: 5px 10px;
}
.amount-total{
    grid-area: total;
    color: rgb(29, 29, 29);
    padding: 2rem;

}

.remove-this{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transition: all 300ms ease;
    cursor: pointer;
    font-size: 1.4rem;
}

.scale-out{
    transition: all 300ms ease;
    transform:translateX(100%);
opacity: 0;
}