.shop-products{
    grid-area: products;
    display: grid;
    grid-template-rows: 5rem minmax(5rem,min-content);
   
  
}
.main-product-sec{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    grid-gap: 2rem;

}
@media only screen and (max-width:425px){
 .main-product-sec{
     grid-template-columns: repeat(auto-fit,20rem);
 }
}