.shop-filters{
    grid-area: filters;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(5rem,min-content));

    align-items: center;
}
.shop-filters > *{
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);

}
.filter-row-setting{
    /* border-top: 1px solid rgba(0, 0, 0, 0.267); */
    width: 100%;
    display: grid;
    grid-template-rows: 6rem min-content;
 
}
.price-filter{
    overflow: hidden;
}
.name-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.toggle-icon{
    transition: transform 300ms ease;
    transform-origin: center;
   user-select: none;
}
.crossed{
    transform: rotate(45deg);
    transform-origin: center;

}
.price-filter{
   
justify-content: center;
padding-bottom: 2rem;
}
.price-filter > div{
    margin:0 1rem
}
.color-filter{
   
    justify-content: space-evenly;
padding-bottom: 2rem;
}
.color-select{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* margin: 1rem; */

    cursor: pointer;
transition: all 300ms ease;
}
.selected-color{
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,.6);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,.6);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,.6);
}