.cart-container{
    margin-top: 10rem;
    /* min-height: min-content; */
    display: grid;
    grid-template-columns: minmax(10rem,1fr) minmax(min-content,90rem) minmax(10rem,1fr);
    grid-template-rows: 5rem minmax(16rem,min-content) minmax(17rem,min-content) 5rem;
    grid-template-areas: ". x-btn ."
                        ". items-list ."
                        ". etc ."
                       ". . ." ;
    row-gap: 1rem;
 
}
.two-btn{
    grid-area: x-btn;
   display: flex;
   justify-content: space-between;

}



/* items-list */
.items-list{
    grid-area: items-list;
    display: grid;
    
    grid-template-rows: 6.4rem minmax(15rem,1fr);

    grid-template-areas: "headings "
                        "products"
                        ;
    row-gap: 1rem;
  
    
}
.headings{

    grid-area: headings;
    display: grid;
    grid-template-columns: 55fr repeat(3,minmax(max-content,15fr));
    align-items: end;
    
    border-bottom: 1px solid black;
    
}
.headings > *{
    padding-bottom: 10px;
    
}
.headings p2{
justify-self: end;
}



.total-etc{
    /* margin-top: 7rem; */
    
    grid-area: etc;
    display: grid;
    grid-template-columns: repeat(2,50fr);
    /* grid-template-rows: 50fr 50fr; */

    
}


.ssl {
 display: flex;
 /* justify-content: center; */
align-items: center;

}
.ssl img{
    width: 50%;
    
}
.checkout-system{
    display: grid;
    grid-template-rows: 50fr 50fr;
    grid-template-columns: 50fr 50fr;
}
#total{
   justify-self: end;
}

@media screen and (max-width:600px){
    .cart-container{
    
        grid-template-columns: 5fr 90fr 5fr;
        grid-template-rows: 5rem minmax(16rem,min-content) minmax(15rem,min-content) 5rem;
        grid-template-areas: ". x-btn ."
                            ". items-list ."
                            ". etc ."
                           ". . ." ;
        row-gap: 1rem;
     
    }
    .total-etc{
    grid-template-columns: 1fr;
    grid-template-rows: 50fr 50fr;
    }
    .headings{
    grid-template-columns: 43fr repeat(3,minmax(max-content,19fr));

    }
    .ssl{
        margin-top: 2rem;
    }
}