.cart-container{
    margin-top: 10rem;
    /* min-height: min-content; */
    display: grid;
    grid-template-columns: minmax(10rem,1fr) minmax(min-content,90rem) minmax(10rem,1fr);
    grid-template-rows: 5rem minmax(16rem,min-content) 17rem 5rem;
    grid-template-areas: ". x-btn ."
                        ". items-list ."
                        ". etc ."
                       ". . ." ;

}
.two-btn{
    grid-area: x-btn;
   display: flex;
   justify-content: space-between;

}



/* items-list */
.items-list{
    grid-area: items-list;
    display: grid;
    
    grid-template-rows: 6.4rem minmax(15rem,1fr);
    grid-template-areas: "headings "
                        "products"
  
    
}
.headings{

    grid-area: headings;
    display: grid;
    grid-template-columns: 55fr repeat(3,15fr);
    align-items: end;
    
    border-bottom: 1px solid black;
    
}
.headings > *{
    padding-bottom: 10px;
}
.headings p2{
justify-self: end;
}



.total-etc{
    margin-top: 7rem;
    
    grid-area: etc;
    display: grid;
    grid-template-columns: repeat(4,25fr);
    grid-template-rows: 50fr 50fr;
    grid-template-areas: "enterPromo . shipping total"
                        "ssl ssl check check";
    
}

.col-1{
    grid-area: enterPromo;
    display: flex;
    flex-flow: column;
}
.col-1 p{
    padding: 1rem;
}
.col-3{
    grid-area: shipping;
    display: grid;
    
}
.col-4{
    grid-area: total;
    display: grid;
    justify-content: end;
}
.ssl{
    grid-area: ssl;
    background: lightgray
}
.checkout-btn{
    border-top: 1px solid black;
    grid-area: check;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 50fr 50fr;
    grid-template-areas: "col1 col2"
                        "btn btn";
    align-items: center;
}
#total{
   justify-self: end;
}
.checkout-btn .btn{
    grid-area: btn;
    justify-self: center;
    align-self: center;
    /* padding: 1rem 16rem; */
   /* height: 5rem; */
    font-family: var(--font-main);
}
