.add-new-address{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,33fr);
    column-gap: 2rem;
}
.cancel-edit{
    display: flex;
    align-items: center;
transition: color 200ms ease-in;
justify-self: start;
cursor: pointer;
}
.cancel-edit:hover{
    color: var(--lightblack);
}
@media screen and (max-width:425px){
 .s-cont{
     grid-column: 1/span 3;
 }
 .p-code{
     grid-column: 1 / span 3;
 }
 .apt{
     grid-column: 1 / span 3;
 }
}
.add-new-address > *{
    margin: 1rem 0;
}