.shop-page{
    display: grid;
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-areas: ". main-shop .";
    margin-bottom: 5rem;
}
.main-shop{
grid-area: main-shop;
}
.shop-grid{
    margin-top: 5rem;
  
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-areas: "filters products";
    column-gap: 2rem;
}
@media screen and (max-width:425px){
  .shop-grid{
    grid-template-columns: 1fr;
    grid-template-rows: minmax(20vh,min-content) min-content;
    grid-template-areas: "filters" "products";
  }
}

