.item-setting{
   
    width: 40rem;
    position: relative;
    height: 37rem;

    display:grid;
    /* border: 1px solid rgba(224, 224, 224, 0.863); */

    transition: all 300ms ease;


}
.quick-view{
    position: absolute;
z-index: 10;
left: 0;
top: 0;
height: 5rem;
width: 100%;
background: rgba(170, 170, 170, 0.356);
display: flex;
justify-content: center;
align-items: center;
transform: scaleY(0);
transition: transform 300ms ease-in-out;
transform-origin: top;
}

.pic{
    /* grid-area: pic; */
    
}
.new{
    display: none;
    position: absolute;
    bottom: 30%;
    left: 50%;
    margin-left: -5.7rem;
    color: white;
    background: rgb(177, 16, 16)
}
.new p{
    padding: 0.5rem 2rem;
}
.pic img{
    width: 100%;
    height: 70%;
}
.item-setting:hover{
   transform: translateY(-1rem);
   -webkit-box-shadow: 1px 1px 30px 3px rgba(43, 43, 43, 0.151);
-moz-box-shadow:  1px 1px 30px 3px rgba(43, 43, 43, 0.151);
box-shadow: 1px 1px 30px 3px rgba(43, 43, 43, 0.151);

cursor: pointer;
}
.item-setting:hover .quick-view{
transform: scaleY(1);
}

.text{
    /* grid-area: text; */
   
    /* font-size: 2rem; */
    text-align: center;
    position: absolute;
    width: 20rem;
    margin-left: -10rem;
    left: 50%;
    top: 80%;
    color: white;
    background: var(--black)

}


.text *{
    padding: 0.4rem
}