.productdetail-container{
    margin: 10% 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5fr 35fr 5fr 35fr ;
    grid-template-columns: minmax(15rem,1fr) 45fr 5rem 30fr minmax(15rem,1fr);
    grid-template-areas: ". links links links ."
                          ". pic32 pic32 pic32 ."
                          ". multi multi multi ."
                          ". main . form ."
                        ;
}
@media only screen and (max-width:768px){
  .productdetail-container{
    grid-template-columns: minmax(10rem,1fr) 45fr 5rem 30fr minmax(10rem,1fr);
  }
}
.links{
    grid-area: links;
    
    display: flex;
    justify-content: space-between;
    
}
.links a {
    font-weight: bold;
}
.links > *{
    margin: 2rem
}
p2{
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}
p2 *{
margin:0 0.7rem;
}
.left{
/* width: 2rem; */
  height: 2rem;
  transform: translate(-1rem,0.1rem)
  
}
.right{
  height: 2rem;
  transform: translate(1rem,0.1rem);
  /* width:2rem */
}
.product-preview{
    grid-area: pic32;
  

}
.scr-close{
  align-self: flex-end;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.scr-close:hover{
  transform: scale(1.2);
}
.prev-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  z-index: 999;
  position: fixed;
display: none;
justify-content: center;
align-items: center;

}
.scr{
  width: 0;
  height: 0;
  background: white;
  /* transform: scale(0) */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.scale{
  transform: scale(0);

  animation: scale 300 linear 100 1 normal forwards;
}
@keyframes scale{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.scr img{
  /* width: 100%; */
  height: 80%;
  width: 100%;
}

.mainer{
    margin-top: 5rem;
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(3,33fr);
    font-size: 1.7rem;
  grid-gap: 3rem;

}
.mainer >*{
    
    display: grid;
 align-content: center;
}
.mainer > * * {
  margin: 1rem 0;
}
.price-and-style > *{
    /* position: relative; */
    /* left: 15%;
    width: min-content; */
}

.prev-next-links{
    display: flex;

}
.prev-next-links *{
    margin:0 1rem;
    cursor: pointer;
}
@media screen and (max-width:1024px){

}
@media screen and (max-width:425px){
  .productdetail-container{
  
 height: 250vw;
    display: grid;
    grid-template-rows: 5fr 35fr 5fr 25fr  30fr ;
    grid-template-columns: minmax(5rem,1fr) 45fr 5rem 30fr minmax(5rem,1fr);
    grid-template-areas: ". links links links ."
                          ". pic32 pic32 pic32 ."
                          ". multi multi multi ."
                          ". main main main ."
                          ". form form form ."
                        ;
}
.links > *{
  margin:0 1rem
}
}