.shipping-form{
    grid-area: sform;
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: 20fr 80fr;
    grid-template-areas: ". breadCrumb ."
                        ". form .";
}
.breadCrumb{
    grid-area: breadCrumb;
}
.shipping-form form{
    grid-area: form;
}
.shipping-form form > div{
   margin: 2rem 0;
}
.fname{
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 10px;
   
}
.billing{
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-column-gap: 10px;
}
.postal{
    display: grid;
    grid-template-columns: 50fr 50fr;
    column-gap: 10px;
}
@media screen and (max-width:375px){
    .postal{
        grid-template-columns: 1fr;
        grid-template-rows: 50fr 50fr;
        row-gap: 2rem;
    }
}
.v1-logo img{
width: 15rem;
height: 7rem;
}