.shipping-form{
    grid-area: sform;
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: 20fr 80fr;
    grid-template-areas: ". breadCrumb ."
                        ". form .";
}
.breadCrumb{
    grid-area: breadCrumb;
}
.shipping-form form{
    grid-area: form;
}
.shipping-form form > div{
   margin: 2rem 0;
}
.fname{
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 10px;
   
}
.billing{
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-column-gap: 10px;
}
.postal{
    display: grid;
    grid-template-columns: 50fr 50fr;
    column-gap: 10px;
}
.address-list{
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.address-list > div {
    box-shadow: 0px 0px 9px 0px #b3b3b3;
    cursor: pointer;
    height: 7rem;
    width: 30%;
    /* background: rgba(124, 124, 124, 0.096); */
    border-radius: 1rem;
   transition: all 200ms ease;

   color: var(--black);
}

@media screen and (max-width:375px){
    .postal{
        grid-template-columns: 1fr;
        grid-template-rows: 50fr 50fr;
        row-gap: 2rem;
    }
}
.v1-logo img{
width: 15rem;
height: 7rem;
}