@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*{
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  overflow-x: hidden;
  box-sizing: border-box;
}
:root{
  /* fonts */

--font-main:'Quicksand', sans-serif;
--font-bold:'Quicksand:400', sans-serif;

--font-raleway:'Raleway', sans-serif;

--blue:rgb(0, 109, 172);
--lightblue:rgb(5, 153, 238);
--green:rgb(0, 146, 102);
--lightgreen:rgb(0, 207, 145);
--black:rgb(27, 27, 27);
--lightblack:rgb(73, 73, 73);
--yellow:rgb(236, 234, 95);
--lightyellow:rgb(238, 236, 144);
--bordercolor:rgb(173, 173, 173);
--red:rgb(212, 34, 34);
--lightred:rgb(247, 68, 68);
}
html{
  
      font-size: 62.5%; /* 1rem = 10px */
      text-decoration: none;
}
html a{
  text-decoration: none;
  color: inherit;
}
/* nav */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* trasparent-button */
.transparent-button button{
  background: transparent;
  border: 1px solid white;
}