@import url("https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*{
  padding: 0;
  margin: 0;
  border: 0;
}
body{
  overflow-x: hidden;
  box-sizing: border-box;
}
:root{
  /* fonts */

--font-main:'Quicksand', sans-serif;
--font-bold:'Quicksand:400', sans-serif;

--font-raleway:'Raleway', sans-serif;

}
html{
  
      font-size: 62.5%; /* 1rem = 10px */
      text-decoration: none;
}
html a{
  text-decoration: none;
  color: inherit;
}
/* nav */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}