.shipping-container{
    display: grid;
    grid-template-rows: minmax(70rem,min-content) 5rem;
    grid-template-columns: 60fr 40fr;
 grid-template-areas: "sform miniCart"
                    ". miniCart";
    /* background: lightblue; */
}

/* 03002592759 */
@media screen and (max-width:425px){
    .shipping-container{
        grid-template-columns: 5fr 90fr 5fr;
        grid-template-areas: "miniCart miniCart miniCart"
                            ". sform ."
                            ". . .";
    grid-template-rows: minmax(30rem,min-content) minmax(30rem,min-content) 5rem;
        
    }
}

